/* contrast colors */
$white: #fafafa;
$white-pure: #ffffff;
$black: #282828;
$black-pure: #000000;

/* theme */
$lightblue: #d7e3fc;
$lightblue2: #c1d3fe;
$blue: #abc4ff;
$grey: lightgray;

/* navbar */
// $nav-bg: ;
